<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>게시판목록</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <div class="board_wrap">
      <div class="board_title">
        <strong>공지사항</strong>
        <p>공지사항을 꼭 확인해 주세요.</p>
      </div>

      <div class="board_write_wrap">
          <div class="board_write">
              <div class="title">
                <dl>
                    <dt>제목</dt>
                    <dd><input type="text" value="첫 번째 글입니다..."></dd>
                </dl>
              </div>
              <div class="info">
                <dl>
                    <dt>글쓴이</dt>
                    <dd><input type="text" value="관리자"></dd>
                </dl>
                <dl>
                    <dt>비밀번호</dt>
                    <dd><input type="password" value="1234"></dd>
                </dl>
              </div>
              <div class="cont">
                <textarea>
글 내용입니다....
글 내용입니다....
글 내용입니다....
글 내용입니다....
글 내용입니다....
글 내용입니다....                    
                </textarea>
              </div>
          </div>
          
          <div class="bt_wrap">
            <a href="view.html" class="on">수정완료</a>
            <a href="list.html">취소</a>
          </div>
      </div>
    </div>
  </body>
</html>