<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- BBS CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ simplemde.css }}
    {{ simplemde.js }}
    <title>MY DIARY</title>
</head>
<body>
{% include "navbar.html" %}
{% block content %}
{% endblock %}
<!-- JQuery JS -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- MathJax JS -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
